In [1]:
import pandas as pd

In [2]:
#load table
df = pd.read_csv('ds_salary_01_June_2022_all.csv')

In [3]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Job Title', 'Salary Estimate', 'Rating',
       'Company Name', 'Description', 'Location', 'size', 'type', 'sector',
       'founded', 'industry', 'revenue'],
      dtype='object')

In [4]:
#Remove not important column
df = df.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)

In [5]:
#Remove row with condition don't have salary
df = df[df['Salary Estimate'] != '-1']

In [6]:
#add coumn to know per hour or employ provide in salary estimate
df['Per Hour'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['Employ Prov'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary' in x.lower() else 0)

In [7]:
#Salary estimate Range
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
remove_s = salary.apply(lambda x: x.replace('$','').replace('K','').replace('Employer Provided Salary:','').replace('Per Hour',''))

In [8]:
#add Min Max Avg salary
df['Min Salary'] = remove_s.apply(lambda x: int(x.split('-')[0]))
df['Max Salary'] = remove_s.apply(lambda x: int(x.split('-')[1]) if '-' in x.lower() else int(x.split('-')[0]))
df['Avg Salary'] = (df['Min Salary'] + df['Max Salary'])/2

In [9]:
#Remove rating in Company Name
df['Company']=df['Company Name'].apply(lambda x: x.split('\n')[0])

In [10]:
#arrange column
df=df[['Job Title', 'Salary Estimate', 'Rating', 'Company', 'Description',
       'Location', 'size', 'type', 'sector', 'founded', 'industry', 'revenue',
       'Per Hour', 'Employ Prov', 'Min Salary', 'Max Salary', 'Avg Salary',
       'Company Name']]
df = df.drop(['Company Name'], axis=1)

In [55]:
#Add age company
non_year = df['founded'].apply(pd.to_numeric,errors='coerce')
df['age'] = 2022 - non_year

In [68]:
#Ektrak Tool yang digunkan dalam bekerja
#python
python_req = df['Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
#matlab
matlab_req = df['Description'].apply(lambda x: 1 if 'matlab' in x.lower() else 0)
# Spark
spark_req = df['Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
#sql
sql_req = df['Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)

In [69]:
df

,Job Title,Salary Estimate,Rating,Company,Description,Location,size,type,sector,founded,industry,revenue,Per Hour,Employ Prov,Min Salary,Max Salary,Avg Salary,age
1,Data Scientist,$100K - $172K (Glassdoor est.),4.5,Riiid Labs,"Location: Mountain View, CA (Hybrid Schedule)\...","Mountain View, CA",51 to 200 Employees,Computer Hardware Development,Unknown / Non-Applicable,Company - Private,Information Technology,-1,0,0,100,172,136.0,NaN
2,Data Scientist - Remote,$77K - $167K (Glassdoor est.),3.7,"Harbor Freight Tools USA, Inc.",The Data Scientist is responsible for using st...,"Mountain View, CA",10000+ Employees,Company - Private,Retail & Wholesale,1977,Home Furniture & Housewares Stores,$5 to $10 billion (USD),0,0,77,167,122.0,45.0
4,Postdoc on Machine Learning for Eye Gaze Data ...,Employer Provided Salary:$55K - $75K,4.0,University of Colorado Boulder,Job Summary\nWe are inviting applications for ...,"Mountain View, CA",10000+ Employees,College / University,Education,1876,Colleges & Universities,$2 to $5 billion (USD),0,1,55,75,65.0,146.0
5,Data Scientist,Employer Provided Salary:$105K - $115K,3.1,FriendFinder Networks,WHAT WE WANT\nFriendFinder Networks is looking...,"Mountain View, CA",201 to 500 Employees,Company - Private,Information Technology,1996,Internet & Web Services,$25 to $50 million (USD),0,1,105,115,110.0,26.0
6,Data Scientist,$81K - $129K (Glassdoor est.),4.2,Booz Allen Hamilton,The Challenge:\nAre you excited at the prospec...,"Mountain View, CA",10000+ Employees,Company - Public,Management & Consulting,1914,Business Consulting,$5 to $10 billion (USD),0,0,81,129,105.0,108.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,Associate Data Scientist,$62K - $119K (Glassdoor est.),4.6,Wellframe,"At Wellframe, a HealthEdge company, we reimagi...","Seattle, WA",51 to 200 Employees,Company - Private,Information Technology,2011,Enterprise Software & Network Solutions,Unknown / Non-Applicable,0,0,62,119,90.5,11.0
995,Data Scientist - Remote,$77K - $167K (Glassdoor est.),3.7,"Harbor Freight Tools USA, Inc.",The Data Scientist is responsible for using st...,"Seattle, WA",10000+ Employees,Company - Private,Retail & Wholesale,1977,Home Furniture & Housewares Stores,$5 to $10 billion (USD),0,0,77,167,122.0,45.0
996,Senior Data Scientist,Employer Provided Salary:$150K - $190K,4.1,Plum Lending,Senior Data Scientist\nJOB SUMMARY\nWe are loo...,"Seattle, WA",1 to 50 Employees,Company - Private,Financial Services,2014,Banking & Lending,Unknown / Non-Applicable,0,1,150,190,170.0,8.0
997,Data Scientist,$86K - $148K (Glassdoor est.),3.3,FocusKPI Inc.,FocusKPI is looking for a Data Scientist to wo...,"Seattle, WA",51 to 200 Employees,Advertising & Public Relations,Less than $1 million (USD),Company - Private,Media & Communication,-1,0,0,86,148,117.0,NaN
999,"Senior Data Scientist II, Core",$127K - $214K (Glassdoor est.),3.8,Cruise,"We're Cruise, a self-driving service designed ...","Seattle, WA",1001 to 5000 Employees,Company - Private,Information Technology,2013,Computer Hardware Development,Unknown / Non-Applicable,0,0,127,214,170.5,9.0

In [70]:
df.to_csv('data_cleanig_03_June_2022_I.csv')